include ../button/_button

header.page-header
    .page-header_container
        include ../logo/_logo

        nav.page-header_navigation-container
            ul.page-header_navigation-list
                li.page-header_navigation-link
                    a(href='#') О нас
                li.page-header_navigation-link
                    a(href='#') Услуги
                li.page-header_navigation-icon
                    i.fa-solid.fa-chevron-down
                li.page-header_navigation-link
                    a(href='#') Вакансии
                li.page-header_navigation-link
                    a(href='#') Новости
                li.page-header_navigation-link
                    a(href='#') Соглашения
                li.page-header_navigation-icon
                    i.fa-solid.fa-chevron-down
        .page-header_login-container
            .page-header_buttons-container
                +button('white', 'войти', '#')
                +button('purple', 'зарегистрироваться', '#')