.page-header
    min-height: 5em
    box-shadow: 0 0.71em 1.43em rgba(31, 32, 65, 0.05)

    font-size: 0.875rem

    display: flex
    align-items: center

    &_navigation-list
        display: flex

        color: $darkShade50
        line-height: 1.21em

    &_navigation-link
        margin-left: 1.43em
        flex-shrink: 0
    &_navigation-icon
        color: $darkShade50
        width: 1.71em
        text-align: center
        &:hover
            color: $darkShade75
            font-weight: 700
            cursor: pointer
