@use './assets/sass' as *

@import './assets/sass/fontawesome/fontawesome.scss'
@import './assets/sass/fontawesome/solid.scss'

@import './elements/header/_header'
@import './elements/button/_button'
@import './elements/logo/_logo'

*
    margin: 0
    padding: 0
    box-sizing: border-box

    font-family: Montserrat, sans-serif

body
    background-color: #E5E5E5

.ui-container
    &>*+*
        margin-top: 40px

.container
    max-width: 81%

li
    list-style: none

a
    color: $darkShade50
    text-decoration: none
    &:hover
        color: $darkShade75
        font-weight: 700
